@import "~@newamerica/scss/spacing";
@import "~@newamerica/scss/widths";
@import "~@newamerica/scss/breakpoints";
.dv-Timeline {
  width: 100%;
}

.dv-Timeline__ContentArea {
  position: relative;
  padding: $s4 0;
  background-color: #fff;
  &-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2.3rem;
  }
  @include breakpoint(medium) {
    padding: $s5 0;
    &-group {
      padding: 0;
    }
  }
}

.dv-Timeline__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  margin: 20px 0;
  &-left {
    width: 100%;
  }
  &-right {
    width: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  &-label {
    font-family: Circular;
    font-size: 15px;
    color: darken(#a6a6a6, 30%);
  }
  &-tag {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    border-radius: 5px;
    font-family: Circular;
    font-size: 12px;
    color: darken(#a6a6a6, 30%);
  }
  &-tag:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  p {
    font-family: Circular;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
    margin: 0;
  }
  &-withImage {
    p {
      margin: 0 0 20px 0;
    }
  }
  &-sources {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 12px;
    font-family: Circular;
    color: darken(#a6a6a6, 30%);
  }
  @include breakpoint(medium) {
    min-height: 20rem;
    margin: 0;
    &-left {
      width: 25%;
    }
    &-right {
      width: calc(100% / 3);
    }
  }
}

// fucking specifity override
#dv-Timeline__content-title {
  font-family: Platform;
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
  margin: 20px 0;
}

.dv-Timeline__ArrowLeft {
  width: 2rem;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.dv-Timeline__ArrowRight {
  width: 2rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.dv-Timeline-fade {
  animation: fade;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dv-TimelineControl-container {
  position: relative;
  overflow: hidden;
  height: 140px;
  &::before {
    content: "DRAG";
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: rotate(270deg) translateX(6px);
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    font-family: Circular;
    top: 50%;
    right: 10px;
    z-index: 1;
    opacity: 1;
  }
  &::after {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(
      -90deg,
      rgba(139, 139, 139, 0.73) 0%,
      rgba(238, 238, 238, 0) 100%
    );
    opacity: 1;
    transition: all 300ms ease-in;
  }
  &.hidden::after,
  &.hidden::before {
    visibility: hidden;
    opacity: 0;
  }
}

.dv-TimelineControl-Tooltip {
  font-family: Circular;
}

.dv-Timeline__image {
  width: 100%;
  &__caption {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.3;
    color: lighten(#333, 30%);
  }
  @include breakpoint(medium) {
    width: 25%;
  }
}
