@import "../../scss/spacing";
@import "../../scss/widths";
@import "../../scss/breakpoints";
.dv-Timeline {
  width: 100%;
  background-color: #f5f5f5; // min-height: 100vh;
  padding: $s4 $s2;
}

h1#dv-Timeline__title {
  font-family: Circular;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  margin: 0 $s2;
  margin-bottom: $s3;
  padding: 0;
  line-height: 1.2;
}

.dv-Timeline__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.dv-Timeline__ContentArea {
  position: relative;
  padding: $s4 0;
  margin-left: $s2 !important;
  margin-right: $s2 !important;
  background-color: #fff;
  &-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 2.3rem;
  }
  @include breakpoint(medium) {
    padding: $s6 0;
    &-group {
      padding: 0;
    }
  }
}

.dv-Timeline__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  overflow: scroll;
  margin: 20px 0;
  &-left {
    width: 100%;
  }
  &-right {
    width: 100%;
  }
  &-label {
    font-family: Circular;
    font-size: 15px;
    color: darken(#a6a6a6, 30%);
  }
  &-tag {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ebebeb;
    border-radius: 5px;
    font-family: Circular;
    font-size: 12px;
    color: darken(#a6a6a6, 30%);
  }
  &-tag:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  p {
    font-family: Circular;
    font-size: 15px;
    line-height: 1.5;
    color: #333333;
    margin: 0;
  }
  @include breakpoint(medium) {
    height: 20rem;
    margin: 0;
    &-left {
      width: 25%;
    }
    &-right {
      width: calc(100% / 3);
    }
  }
}

// fucking specifity override
#dv-Timeline__content-title {
  font-family: Platform;
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
  margin: 20px 0;
}

.dv-Timeline__ArrowLeft {
  width: 2rem;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dv-Timeline__ArrowRight {
  width: 2rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dv-Timeline-fade {
  animation: fade;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}