.dv-Chart {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dv-legend-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vx-legend-label {
  font-size: 12px;
}
