.dv-Chart {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dv-legend-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vx-legend-item:last-child .vx-legend-label {
  margin-right: 0 !important;
}

.vx-legend-label {
  font-size: 12px;
}

.vx-axis-label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  fill: #333;
}

.vx-axis-line {
  stroke: rgba(0, 0, 0, 0.2);
}

.vx-axis-tick {
  font-size: 11px;
  fill: #333;
  font-weight: normal;
  font-family: Circular;
  .vx-line {
    stroke: rgba(0, 0, 0, 0.2);
  }
}

.vx-rows .vx-line,
.vx-columns .vx-line {
  stroke: #ddd;
}