<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" type="text/css" href="https://d3fvh0lm0eshry.cloudfront.net/static/css/newamericadotorg.lite.css"
  />
  <script>
    window.user = { isAuthenticated: true };
  </script>
  <style>

  .chart-heading {
    border-top: 1px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  </style>
</head>

<body>
  <div class="container">
    <% htmlWebpackPlugin.options.chartIDs.forEach(function(id){ %>
      <div class="chart-heading">
        chartId: <h4 class="inline"><%= id %></h4>
      </div>
      <div id="<%= id %>" class="na-dataviz"></div>
      <% }) %>
  </div>
  <script src="https://d3fvh0lm0eshry.cloudfront.net/static/js/newamericadotorg.lite.js"></script>
  <script src="bundle.js"></script>
  <script>newamericadotorg.init({ baseUrl: 'https://na-staging.herokuapp.com/api/' });</script>
  <script>
    var charts = document.querySelectorAll('.na-dataviz');
    if (charts) {
      for (let i = 0; i < charts.length; i++) {
        renderDataViz(charts[i]);
      }
    }
  </script>
</body>

</html>
