$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1320px,
  xxlarge: 1440px
);
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
